letter { 
	display:inline-block; 
	margin-right: 10px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 3px 7px;
	background: #eee;
}

letter.correct {
	color: green;
	font-weight: bold;
	background: white;
}

letter.incorrect {
	color: red;
	text-decoration: line-through;
	background: white;
}