<form #theForm='ngForm'>
	<h2>Register</h2>
	<div>
		<label>Github
			<input type="text" name='github' ngModel #githubName>
		</label>
		<br>
		<a class='username' (click)='githubLogin(username)' href='javascript:void(0)' *ngFor='let username of githubUsernames'>{{ username }}</a>
	</div>
	<div>
		<label>Email
			<input type="email" name='email' notRegisteredAsync="email" [(ngModel)]='userEmail' #email='ngModel'  required>
			<div [hidden]='validator.validEmail(email.value) || email.untouched'>Please enter a valid email</div>
			<div [hidden]='!email.errors'>
				<div *ngIf='email.errors && email.errors.notRegisteredAsync'>User has already registered</div>
			</div>
		</label>
	</div>
	<div>
		<label>Birth Date
			<datepicker [name]='"birthday"' [(ngModel)]='bday' #birthdate='ngModel' required></datepicker>
			<div [hidden]='!birthdate.errors'>
				<div *ngIf='birthdate.errors'>Invalid birth date</div>
			</div>
		</label>
		{{ bday }}
	</div>
	<div>
		<label>Password
			<input type="text" name='password' ngModel #password='ngModel' required>
			<div [hidden]='validator.validPassword(password.value) || password.untouched'>Password length must be > 8</div>
		</label>
	</div>
	<div>
		<label>Password Confirmation
			<input type="text" name='password_confirmation' ngModel #password_confirmation='ngModel' required>
			<div [hidden]='validator.validPassword(password_confirmation.value) || password_confirmation.untouched'>Password length must be > 8</div>
			<div [hidden]='validator.validPasswordConfirmation(password_confirmation.value, password.value) || password_confirmation.untouched'>Password confirmation must match password</div>
		</label>
	</div>
	<button [hidden]='!validForm(theForm.value)' (click)='registerUser(theForm.value)'>
		Register
	</button>

	{{ theForm.value | json }}
</form>